body {
    font-family: Optima, serif;
}

footer {
    margin-top: 2em;
    text-align: center;
    font-size: small;
    color: white;
}

.color-primary {
    background-color: lightseagreen;
    color: lightseagreen;
}

.color-secondary {
    background-color: lightsalmon;
    color: lightsalmon;
}

.container {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 50px;
    min-width: 80%;
}

.cell {
    height: 120px;
    width: 100px;
    max-width: 100px;
}

.event {
    overflow: hidden;
    height: 1.5em;
}

p {
    margin: 0;
}

.tag {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    float: left;
    margin-right: 1em;
}

.shared_event {
    background-color: lightseagreen;
    color: white;
}

.group_event {
    background-color: palevioletred;
    color: white;
}

.user_event {
    background-color: gold;

}